body,
html {
    margin: 0;
    font-family: "Roboto", sans-serif; /* Make sure to use a comma and specify fallback fonts */
}


.header {
    background-color: #1F2937;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 25px 100px;
}

.header div {
    flex: 1;
}

.header h1 {
    margin: 0; /* Remove default margin for h1 */
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.header li {
    display: inline-block; /* Changed to inline-block for better spacing */
    margin-right: 15px;
}

.header span {
    font-size: 24px;
    color: #F9FAF8;
}

.header .top {
    display: flex;
    justify-content: space-between;
    align-items: end; /* Add this line to vertically center items */
}

.header .top ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Change to flex to align items horizontally */
}

.header .top li {
    margin-right: 15px;
}

.bottom {
    display: flex;
    align-items: center
        /* background-color: aquamarine; */
}

.header .top span {
    font-size: 24px;
    color: #F9FAF8;
}

.header .top ul {
    list-style: none;
}

.header .top li {
    display: inline-flex;
    margin-right: 30px;
    font-size:17px;
}

/* service section */

.services h2 {
    text-align: center;
}

.services img {
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.services .item_list {
    display: flex;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.services .item_list .item {
    /* background-color: pink; */
    margin: 4px;

}


.footer {
    background-color: #1F2937;
    color: aliceblue;
}